@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#020617;
color:white;
font-family:Arial,Helvetica,sans-serif;
overflow-x:hidden;
}

body::before{
content:"";
position:fixed;
inset:0;
background:
radial-gradient(circle at 20% 20%,rgba(0,255,255,.15),transparent 35%),
radial-gradient(circle at 80% 30%,rgba(0,140,255,.18),transparent 35%),
radial-gradient(circle at 50% 80%,rgba(120,0,255,.15),transparent 35%);
animation:aurora 18s linear infinite;
z-index:-2;
}

body::after{
content:"";
position:fixed;
inset:0;
background-image:
radial-gradient(#06b6d4 1px,transparent 1px);
background-size:45px 45px;
opacity:.08;
z-index:-1;
}

@keyframes aurora{

0%{
transform:translate(0,0) scale(1);
}

50%{
transform:translate(-40px,-30px) scale(1.15);
}

100%{
transform:translate(0,0) scale(1);
}

}
::selection{
background:#22d3ee;
color:black;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#020617;
}

::-webkit-scrollbar-thumb{
background:#06b6d4;
border-radius:999px;
}